<!doctype html>
<html>
<head>
    <title>Clockwork Daydream</title>
    <script src="/clockwork-daydream.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/default.css">
</head>
<body>
    {{{body}}}
</body>
</html>
