<h1>Jira Statistics</h1>
<div id="selectView"></div>
<script type="text/javascript">
    console.log('Loading');
    window.statsTools.renderApp(document.getElementById('selectView'));
    console.log('Loaded');
</script>
